python-dotenv


# COMPUTING
pandas
dask
jupyter



# DATABASE
pymysql
mongoengine
influxdb


# ANALYSIS
tensorflow
theano
statsmodels
scikit-learn
nltk
keras
#gensim
#sympy



# WEB
requests
beautifulsoup4
django
flask
#scrapy
gunicorn
django-grappelli
django-social-auth
django-dotenv


#GRAPH
networkx
#etetoolkit
#ete3
#ete3_external_apps


# GEO
folium
#geos
#shapely
googlemaps


# DISPLAY
bokeh
seaborn
matplotlib
ggplot
#pygal
plotly


#cython
#pyzmq


#FINANCE
quandl
quantdsl
statistics
pyfin
#vollib
ffn
backtrader
git+https://github.com/ematvey/pybacktest.git


#TIME-SERIES
statsmodels
dynts

# FOLIO
pyfolio
pymc3
#https://github.com/ChinaQuants/VisualPortfolio.git

